header{
    color:blue;
    text-align: center;
    margin: 30px;
}
body{
    background: aqua;
}
main p {
    
    border: 2px solid;
    margin-left: 50px;
    padding: 20px;
    
}
main i {
    
    color: brown;
    
}
main strong {
    
    color: brown;
    
}
ol{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
footer{
    text-align: center;
    margin: 15px;
    background-color: blue;
}
 